<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="">
        <center>
        <H1> Photon in double-slit Demo </H1> <br>

        Docket Number <input type = "text" name= "docket_number" /> <br>
        <input type = "submit">
<br>

        People ID <input type = "text" name= "people_id" /> <br>
        <input type = "submit">
<br>
        Delete People ID <input type = "text" name= "people_id_delete" /> <br>
        <input type = "submit">
<br>
        Insert (People ID, People Name) <input type = "text" name= "people_name" /> <br>
        <input type = "submit">
<br>
        Location ID <input type = "text" name= "location_id" /> <br>
        <input type = "submit">
<br>
        update People ID <input type = "text" name= "people_id_update" /> <br>
        <input type = "submit">
<br>

        <p1>{{ output }}</p1>
        </center>
</form>
</BODY>
</HTML>
